@import '~@angular/material/theming';
@include mat-core();
@import './styles/meanTheme.scss';

@import 'styles/globals';
@import 'styles/scrollbars';
@import 'styles/variables';
@import 'styles/cdkOverlay';

html {
	-webkit-font-smoothing: antialiased;
	-ms-overflow-style: none;
	overflow: auto;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
  	background-image: linear-gradient(-225deg, #160358 0%, #0F0136 100%);

	height: 100%;
	overflow: hidden;
	display: flex;
	box-sizing: border-box;

	ng-component {
		display: block;
	}
}

.mean-theme {
	@include angular-material-theme($mean-app-theme);
}


* {
	box-sizing: border-box;
}

router-outlet {
	display: block;
}
