$color: #0F0136;
:host(mean-projects) {
	display: block;
	padding: 30px;

	h1{
		color: white;
	}

	.project-box{
		padding: 30px;
	}

	.radius-btn {
		display: inline-block;
		vertical-align: middle;
		border: 1px solid;
		border-color: $color;
		border-radius: 50%;
		height: 36px;
		width: 36px;
		text-decoration: none;
		transition: all 0.2s ease;
		box-shadow: none;
		cursor: pointer;
		outline: none;
		background-color: transparent;

		&:hover{
			background-color: $color;
			color: white;
		}
	  }
}